@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif; }

/* Se trabajo mobile-last  - Fuentes*/
/* se utilizó BEM en todos los H1 de los html */
.titulo__principal {
  font-family: 'Belanosima', sans-serif;
  border: solid 3px #d5a9a9;
  text-align: center;
  text-decoration: underline black;
  text-transform: uppercase; }

/* HEADER CON BOOTSTRAP */
.header {
  background-color: #a04d4d;
  box-shadow: 0px 5px 5px;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.header img {
  width: 400px;
  border-image: 5px; }

.bg-body-tertiary {
  background-color: #a04d4d !important; }

.header ul {
  background-color: #b99595;
  border: solid 3px black;
  list-style: none;
  box-shadow: 10px 5px 5px;
  padding: 4px 4px;
  margin: 4px 4px; }

/* MAIN CON GRID */
.grilla-index {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: "nosotros-index imagen-index" "nosotros-index imagen-index" "nosotros-index imagen-index";
  width: 100vw;
  margin: auto; }

.imagen-index {
  grid-area: imagen-index; }

.nosotros-index {
  grid-area: nosotros-index; }

.nosotros-index .h1-index {
  padding: 40px;
  background-color: #a09c4d;
  color: aliceblue;
  font-family: 'Belanosima', sans-serif;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase; }

.nosotros-index .parrafo-index {
  color: aliceblue;
  background-color: #a09c4d;
  font-family: 'Josefin Sans', sans-serif;
  font-size: x-large;
  text-align: center; }

.main {
  background-color: #a09c4d; }

@media (max-width: 768px) {
  /* aplico media queris a index.html - cuando sea pantallas menores a 768px quiero que desaparezca la imagen */
  .grilla-index {
    display: flex; }
  .imagen-index {
    display: none; } }

/* FOOTER CON FLEX */
.footer {
  background-color: #a04d4d;
  border: solid 3px black;
  list-style: none;
  box-shadow: 10px 5px 5px;
  padding: 4px 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end; }

.footer ul {
  border: solid 3px black;
  list-style: none;
  background-color: #b99595;
  box-shadow: 10px 5px 5px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.footer a {
  color: #0f0f0f; }

/* 2- ventas.html (su usó mucho GIT)*/
.englobado-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 30px;
  padding: 20px; }

.main-ventas {
  background: #a09c4d;
  background: radial-gradient(circle, #a09c4d 24%, #e99494 99%); }

.card {
  background-color: #d8101088;
  max-width: 300px; }

.card-text {
  background-color: #a04d4d;
  text-align: center; }

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e4916e;
  color: black; }

.btn:hoover {
  background-color: #b99595; }

.main-ventas h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  text-decoration: underline black; }

/* 3- otros-servicios.html - se usó grid - se realizo anidacion sass*/
.main-otros-servicios {
  background: radial-gradient(circle, #a09c4d 24%, #e99494 99%); }
  .main-otros-servicios .grilla-otros-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "administracion tasaciones" "logo-otros-servicios logo-otros-servicios";
    background-image: radial-gradient(circle, #a09c4d 24%, #e99494 99%); }
    .main-otros-servicios .grilla-otros-servicios .administracion {
      grid-area: administracion; }
      .main-otros-servicios .grilla-otros-servicios .administracion h2 {
        font-family: 'Josefin Sans', sans-serif;
        text-decoration: underline black;
        background-color: #e4916e;
        text-align: center;
        text-transform: uppercase;
        margin: 20px;
        padding: 15px; }
      .main-otros-servicios .grilla-otros-servicios .administracion .img-servicios {
        width: 700px;
        height: 350px;
        margin: 20px;
        padding: 30px; }
      .main-otros-servicios .grilla-otros-servicios .administracion p {
        margin: 22px;
        padding: 20px;
        background-color: #e4916e;
        font-family: 'Josefin Sans', sans-serif;
        border: solid 1px black;
        height: 250px;
        overflow: auto;
        align-items: center; }
    .main-otros-servicios .grilla-otros-servicios .tasaciones {
      grid-area: tasaciones; }
      .main-otros-servicios .grilla-otros-servicios .tasaciones h2 {
        font-family: 'Josefin Sans', sans-serif;
        text-decoration: underline black;
        background-color: #e4916e;
        text-align: center;
        text-transform: uppercase;
        margin: 20px;
        padding: 15px; }
      .main-otros-servicios .grilla-otros-servicios .tasaciones .img-servicios {
        width: 700px;
        height: 350px;
        margin: 20px;
        padding: 30px; }
      .main-otros-servicios .grilla-otros-servicios .tasaciones p {
        margin: 22px;
        padding: 20px;
        background-color: #e4916e;
        font-family: 'Josefin Sans', sans-serif;
        border: solid 1px black;
        height: 250px;
        overflow: auto;
        align-items: center; }
    .main-otros-servicios .grilla-otros-servicios .logo-otros-servicios {
      width: 400px;
      height: 175px; }

@media (max-width: 768px) {
  /* se aplico media queris en otros-servicios.html */
  .main-otros-servicios .grilla-otros-servicios {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px;
    grid-template-areas: "administracion" "tasaciones" "logo-otros-servicios" "logo-otros-servicios"; }
  .main-otros-servicios h2 {
    margin: 10px;
    padding: 15px; }
  .img-servicios {
    width: 350px;
    height: 175px;
    margin: 11px;
    padding: 10px; }
  .main-otros-servicios p {
    margin: 11px;
    padding: 10px; }
  .main-otros-servicios {
    background-color: #e4916e; }
  .logo-final {
    width: 300px;
    height: 150px; } }

/* 4-contacto.html - se agregó un formulario con bootstrap y se le dio estilo*/
.main-contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  background-color: #a09c4d;
  box-shadow: 3px #b99595;
  height: 450px; }
  .main-contacto .div-formulario {
    text-align: center; }
    .main-contacto .div-formulario .btn-send {
      margin: 20px; }

/* 5-alquileres.html - solamente se usó html (y flex) y css para estilo - pseudoclase hover*/
.main-alquileres {
  background: #a09c4d;
  background: radial-gradient(circle, #a09c4d 24%, #e99494 99%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.main-alquileres ul {
  align-items: center;
  text-align: center;
  display: inline-block;
  height: 50%;
  width: 1350px;
  list-style: none;
  box-shadow: 1px 1px 1px 3px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.main-alquileres h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline black;
  font-weight: bold;
  font-style: italic;
  border: 7px solid #c8a2a2; }

.main-alquileres img {
  width: 280px;
  height: 210px; }

.main-alquileres li {
  text-align: center; }

/* se usó la pseudo clase hover */
.main-alquileres input:hover {
  font-weight: bold;
  text-decoration: underline;
  background-color: #a09c4d;
  color: #e4916e; }

/* media Queris - se aplicó a todo el main de alquileres.html  */
@media (max-width: 576px) {
  .main-alquileres ul {
    height: 50%;
    width: 500px; } }
