@import "./utilidades/reset";
@import "./utilidades/general";
@import "./utilidades/variables";

@import './secciones/header.scss';
@import './secciones/main-index';
@import "./secciones/footer";
@import "./secciones/main-ventas";
@import "./secciones/main-otrosservicios";
@import "./secciones/main-contacto";
@import "./secciones/main-alquileres";