/* 3- otros-servicios.html - se usó grid - se realizo anidacion sass*/

.main-otros-servicios {
    background: radial-gradient(circle, rgba(160, 156, 77, 1) 24%, rgba(233, 148, 148, 1) 99%);
    
    .grilla-otros-servicios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 0.5fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "administracion tasaciones"
            "logo-otros-servicios logo-otros-servicios";
        background-image: radial-gradient(circle, rgba(160, 156, 77, 1) 24%, rgba(233, 148, 148, 1) 99%);

        .administracion {
            grid-area: administracion;

            h2 {
                font-family: 'Josefin Sans', sans-serif;
                text-decoration: underline black;
                background-color: $naranjaboton;
                text-align: center;
                text-transform: uppercase;
                margin: 20px;
                padding: 15px;
            }

            .img-servicios {
                width: 700px;
                height: 350px;
                margin: 20px;
                padding: 30px;
            }

            p {
                margin: 22px;
                padding: 20px;
                background-color: $naranjaboton;
                font-family: 'Josefin Sans', sans-serif;
                border: solid 1px black;
                height: 250px;
                overflow: auto;
                align-items: center;
            }
        }

        .tasaciones {
            grid-area: tasaciones;

            h2 {
                font-family: 'Josefin Sans', sans-serif;
                text-decoration: underline black;
                background-color: $naranjaboton;
                text-align: center;
                text-transform: uppercase;
                margin: 20px;
                padding: 15px;
            }

            .img-servicios {
                width: 700px;
                height: 350px;
                margin: 20px;
                padding: 30px;
            }

            p {
                margin: 22px;
                padding: 20px;
                background-color: $naranjaboton;
                font-family: 'Josefin Sans', sans-serif;
                border: solid 1px black;
                height: 250px;
                overflow: auto;
                align-items: center;
            }
        }

        .logo-otros-servicios {
            width: 400px;
            height: 175px;
        }

    }
}

@media (max-width:768px) {

    /* se aplico media queris en otros-servicios.html */
    .main-otros-servicios .grilla-otros-servicios {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px;
        grid-template-areas:
            "administracion"
            "tasaciones"
            "logo-otros-servicios"
            "logo-otros-servicios";
    }

    .main-otros-servicios h2 {
        margin: 10px;
        padding: 15px;
    }

    .img-servicios {
        width: 350px;
        height: 175px;
        margin: 11px;
        padding: 10px;
    }

    .main-otros-servicios p {
        margin: 11px;
        padding: 10px;
    }

    .main-otros-servicios {
        background-color: #e4916e;
    }

    .logo-final {
        width: 300px;
        height: 150px;
    }

}