/* 4-contacto.html - se agregó un formulario con bootstrap y se le dio estilo*/
//se utilizo anidacion - SASS
.main-contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    background: radial-gradient(circle, rgba(160, 156, 77, 1) 24%, rgba(233, 148, 148, 1) 99%);
    min-height: 75vh;
    box-shadow: 3px $rosalinks;

    .titulo-contacto {
        margin: 20px;
        .div-formulario {
            text-align: center;

            .btn-send {
                margin: 20px;
            }
        }

    }

}

.form-label {
    text-transform: uppercase;
    text-align: center;
}