.main-otros-servicios {
    background: radial-gradient(circle, rgba(160, 156, 77, 1) 24%, rgba(233, 148, 148, 1) 99%);
}

.c.main-otros-servicios section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;

}

.c {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline black;
    background-color: $naranjaboton;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    padding: 15px;

}

.img-servicios {
    max-width: 500px;
    max-height: 250px;
    margin: auto;
    padding: 15px;
}


.parrafo-servicios {
    margin: auto;
    //    width: 550px;
    padding: 20px;
    background-color: $naranjaboton;
    font-family: 'Josefin Sans', sans-serif;
    border: solid 1px black;
    overflow: auto;
    text-align: justify;
}

.logo-otros-servicios {
    margin: auto;
    width: 400px;
    height: 175px;
}